# Prerequisites
*.d
*.pdf

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# IDE files

/.idea/

# Executables and output files
*.exe
*.out
*.app
CPP01/ex0?/brain
CPP01/ex0?/brains
CPP01/ex0?/violence
/CPP01/ex04/neosed
/CPP01/ex04/*.replace
